body {
  background-color: #2C3E50;
  overflow-x: hidden;
}

#quack-repl-stdout {
  white-space: pre;
}

.quack-repl-line, #quack-repl-stdin, #quack-repl-stdin-input {
  color: white;
  font-size: 14px;
  font-family: "Ubuntu mono", "Consolas", "Monospace";
  height: 18px;
  line-height: 18px;
}

#quack-repl-stdin {
  background-color: #2C3E50;
  width: 100%;
}

.quack-repl-name {
  color: #22A7F0;
  font-weight: bold;
}

#quack-repl-stdin-input {
  background-color: #2C3E50;
  outline: 0;
  border: 0;
  padding: 0;
  margin: 0;
  width: 90%;
}
